main#main {
  // SECTION: HERO
  section#hero {
    height: 825px;
    background: url("/images/1.\ hero_section/all_cropped.png") no-repeat center
      center/cover;
    min-width: 810px;
  }

  // SECTION: HISTORY
  section.history {
    position: relative;
    height: 900px;
    width: 100%;
    img.history_image {
      z-index: -1;
      position: absolute;
      top: 0;
      right: 0;
      left: 0;
      bottom: 0;
      width: 100%;
      height: 900px;
      object-fit: cover;
    }
    .history_content {
      padding-inline: 2.5rem;
      padding-top: 7rem;
      max-width: 900px;
      margin-inline: auto;
      z-index: 2;
      p {
        margin-left: 6.5rem;
        font-family: "Lato", sans-serif;
        font-weight: 100;
        font-size: 1.55rem;
        line-height: 2.4rem;
      }
    }
    .history_carousel_container {
      width: 100%;
      height: max-content;
      background-color: rgba($color: #414f6b, $alpha: 0.85);
      position: absolute;
      bottom: 0;
      padding-top: 2rem;
      .history_carousel {
        max-width: 900px;
        margin-inline: auto;
      }
    }
  }

  // SECTION: CLIMB
  section.climb {
    .climb_header {
      .climb_header_container {
        padding-inline: 2.5rem;
        display: flex;
        align-items: center;
        column-gap: 3rem;
        max-width: 900px;
        margin-inline: auto;
        padding-block: 3rem;
        img {
        }
        p {
          font-family: "Lato", sans-serif;
          font-weight: 100;
          font-size: 1.55rem;
          line-height: 2.4rem;
        }
      }
    }
    .climb_tabs_background {
      .climb_tabs_container {
        margin-inline: auto;
      }
    }
    .climb_accordion_container {
      display: none;
    }
  }
}

@media screen and (max-width: 725px) {
  main#main {
    section.climb {
      .climb_tabs_background {
        display: none;
      }
      .climb_accordion_container {
        display: block;
      }
    }
  }
}

@media screen and (max-width: 656px) {
  main#main {
    // SECTION: CLIMB
    section#hero {
      background-image: url("/images/1.\ hero_section/mountain_mobile.png");
      min-width: 100%;
      height: 625px;
    }
  }
}

@media screen and (max-width: 600px) {
  main#main {
    // SECTION: CLIMB
    section.climb {
      .climb_header {
        .climb_header_container {
          display: block;
          p {
            margin-left: clamp(4.5rem, 8vw, 6rem);
          }
        }
      }
    }
  }
}
