footer#footer {
  background-color: #414f6a;
  padding-block: 1rem;
  .footer_container {
    padding-block: 1rem;
    padding-inline: 2.5rem;
    max-width: 940px;
    margin-inline: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .logo_container {
      img {
        height: 4rem;
        width: auto;
      }
    }
    .copyright_content {
      p {
        color: hsl(219, 24%, 67%);
        font-size: 1.4rem;
        font-family: "Lato", sans-serif;
        font-style: italic;
        text-transform: uppercase;
        font-weight: 600;
      }
    }
  }
}

@media screen and (max-width: 500px) {
  footer#footer {
    .footer_container {
      flex-direction: column;
      align-items: center;
      row-gap: 1rem;
    }
  }
}
